:root {
  --mainColor: #154371;
  --mainColor10: #e8f2fb;
  --mainColor30: #bbd7f2;
  --secondColor: #670e36;
  --secondColor10: #fce6f0;
  --secondColor30: #f5b5d2;
  --whiteColor: #ffffff;
  --darkColor: #1f1f1f;
  --lightGrayColor: #d6d6d6;
  --grayColor: #777;
  --transition: 0.3s ease-in-out;
  --shadow: 0px 2px 4px #c1c1c1;
  --BigShadow: 0 16px 32px 0 #071c1f1a;
}
@font-face {
  font-family: IBMPlexSansArabic;
  font-display: swap;
  src: url(../webfonts/IBMPlexSansArabic-Regular.ttf);
}
* {
  font-family: "IBMPlexSansArabic", Sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  direction: ltr;
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 8px;
  height: 6px;
  // background-color: #eee;
  border-radius: 0px !important;
}
::-webkit-scrollbar-track {
  border-radius: 0px !important;
  background: #272727;
}
::-webkit-scrollbar-thumb {
  background-color: #424242;
  outline: none;
  border-radius: 20px !important;
}
:target {
  scroll-margin-top: 50px;
}
a {
  text-decoration: none;
  transition: var(--transition) !important;
}
a:hover {
  text-decoration: none;
  color: var(--mainColor);
}
button {
  cursor: pointer;
}
button:focus {
  outline: 0;
}
.row {
  margin: 0px;
}
body {
  overflow-x: hidden;
}
a,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  line-height: 1.5;
}
@media (max-width: 767px) {
  .container,
  .container-fluid {
    padding: 0px 8px;
  }
}
video,
img {
  max-width: 100%;
  height: auto;
  display: inline-block;
}
.btn {
  font-size: 12px;
  display: flex;
  gap: 8px;
  align-items: center;
  i {
    font-size: 16px;
  }
}
.btn:focus {
  box-shadow: none;
}
.btn-check:checked + .btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check) + .btn:active {
  border-color: transparent;
}
input {
  accent-color: var(--mainColor) !important;
}
.odometer-inside {
  direction: ltr !important;
}
.fancybox__container {
  z-index: 1999;
}
::placeholder {
  font-size: 12px;
  color: #bababa !important ;
  font-weight: normal !important;
}
[type="email"],
[type="number"],
[type="tel"],
[type="url"] {
  direction: ltr;
}
.select2-container--default .select2-selection--single {
  display: flex;
  align-items: center;
  border: 1px solid #eee;
  min-height: 54px;
  background-color: #fdfdfd;
  border-radius: 4px;
  padding: 0 10px;
}
.select2 {
  min-width: 100px;
}
.select2-container--default
  .select2-selection--single
  .select2-selection__arrow {
  right: 1px;
  left: unset;
  top: 50%;
  transform: translateY(-50%);
}
span.select2.select2-container.select2-container--default {
  width: 100% !important;
}
.select2-results__option--selectable {
  border-radius: 0px;
  margin-bottom: 2px;
  padding: 12px;
}
.select2-container--default
  .select2-results__option--highlighted.select2-results__option--selectable {
  background-color: var(--mainColor) !important;
  color: var(--whiteColor) !important;
}
.select2-dropdown {
  border-radius: 4px;
  box-shadow: var(--BigShadow) !important;
  border-color: transparent;
}
.select2-container .select2-selection--single .select2-selection__rendered {
  padding: 0px;
}
// .select2-container {
//   z-index: 1060;
// }
.fancybox__track,
.fancybox__content,
.carousel__track {
  direction: ltr !important;
}
.navbar-toggler {
  border: none;
  box-shadow: none !important;
  .navbar-toggler-icon {
    width: 30px;
    height: 30px;
  }
}
.dropdown {
  .dropdown-toggle {
    display: flex;
    align-items: center;
    gap: 4px;
    position: relative;
    padding-right: 24px;
    &::after {
      content: "\f107";
      font-family: "Font Awesome 6 Pro";
      border: none;
      vertical-align: middle;
      font-size: 12px;
      position: absolute;
      right: 8px;
      top: 55%;
      transform: translateY(-50%);
      color: var(--grayColor);
    }
    i {
      font-size: 14px;
      color: var(--mainColor);
    }
  }
  .dropdown-item {
    border-radius: 8px;
    padding: 8px 12px;
    &.active,
    &:active {
      background-color: var(--mainColor);
    }
  }
  .dropdown-menu {
    animation: fadeIn 0.3s;
    background-color: var(--whiteColor);
    border: none;
    padding: 8px;
    // box-shadow: 0px 4px 8px var(--mainColor10);
    border: 2px solid var(--mainColor30);
    z-index: 1022;
    flex-direction: column;
    gap: 4px;
    width: auto;
    min-width: 100px;
    transform: unset !important;
    .dropdown-item {
      font-size: 13px;
    }
    &.show {
      top: calc(100% + 10px) !important;
      display: flex;
      left: unset;
      right: 0;
    }
    &::before {
      content: "";
      width: 16px;
      height: 16px;
      background-color: var(--whiteColor);
      position: absolute;
      top: -8px;
      right: 24px;
      transform: rotate(45deg);
      border-radius: 2px;
      z-index: -2;
      border: 2px solid var(--mainColor30);
    }
    &::after {
      content: "";
      width: calc(100% - 4px);
      height: 24px;
      background-color: var(--whiteColor);
      position: absolute;
      top: 0;
      z-index: -1;
      right: 2px;
      border-radius: 4px;
    }
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}
button {
  border: none;
  background-color: transparent;
}
.form-control {
  min-height: 54px;
  &:focus {
    box-shadow: none;
  }
}
.tooltip {
  --bs-tooltip-bg: var(--textlightGrayr);
  .tooltip-inner {
    font-size: 10px;
    padding: 8px 16px !important;
  }
}
/////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
.lazyDiv {
  position: relative;
  overflow: hidden;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: var(--whiteColor);
    transition: transform 1.2s 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    transform: translateX(0%);
  }
  &.oppositeDir {
    &::after {
      right: unset;
      left: 0;
    }
  }
  .lazy {
    position: relative;
    z-index: 1;
    width: 100%;
  }
  &.loaded {
    &::after {
      transform: translateX(100%);
    }
    &.oppositeDir {
      &::after {
        transform: translateX(-100%);
      }
    }
    &.down {
      &::after {
        transform: translateY(100%);
      }
    }
    &.up {
      &::after {
        transform: translateY(-100%);
      }
    }
  }
}
.preloader {
  background-color: var(--secondColor);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1111;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .preloaderImg {
    background-color: #8a2150;
    width: 80px;
    height: 80px;
    mask-image: url("../img/fav.svg");
    mask-size: contain;
    mask-position: center;
    mask-repeat: no-repeat;
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: 50%;
      width: 90px;
      height: 90px;
      z-index: 2;
      background-color: var(--whiteColor);
      transform: translate(50%, -50%);
      animation: slide-up 1.5s forwards;
    }
    @keyframes slide-up {
      from {
        transform: translate(50%, 50%);
      }
      to {
        transform: translate(50%, -50%);
      }
    }
  }
}
.animatedLink {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--mainColor);
  transition: var(--transition);
  position: relative;
  width: fit-content;
  border: none;
  background: none;
  isolation: isolate;
  i {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    transition: width 0.3s ease-in-out;
    span {
      position: absolute;
      right: 0;
      top: 50%;
      z-index: -1;
      transform: translateY(-50%);
      width: 48px;
      height: 48px;
      border: 1px solid var(--mainColor);
      border-radius: 100px;
      transition: var(--transition);
    }
  }
  &:hover {
    padding: 0 20px;
    color: var(--whiteColor);
    i {
      width: 20px;
      span {
        width: 100%;
        border: 1px solid var(--secondColor);
        background-color: var(--secondColor);
      }
    }
  }
  &.white {
    color: var(--whiteColor);
    i {
      span {
        border: 1px solid var(--whiteColor);
      }
    }
    &:hover {
      i {
        span {
          border: 1px solid var(--secondColor);
          background-color: var(--secondColor);
        }
      }
    }
  }
}
header {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 1024;
  padding: 8px;
  transition: 0.3s ease-in-out;
  background-color: transparent;
  nav {
    width: min(100% - 20px, 1320px);
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 16px 0;
    gap: 8px;
    .logo {
      margin: auto 0;
      display: flex;
      img {
        height: 60px;
        transition: var(--transition);
        width: 100%;
        object-fit: contain;
        object-position: left;
        filter: brightness(0) invert(1);
        @media (max-width: 576px) {
          height: 50px;
        }
      }
    }
    .navMenu {
      display: flex;
      width: 100%;
      justify-content: end;
      gap: 6px;
      transition: var(--transition);
      align-items: center;
      .navLink {
        position: relative;
        isolation: isolate;
        padding: 12px 24px;
        display: flex;
        align-items: center;
        color: var(--whiteColor);
        border-radius: 16px;
        min-width: 72px;
        justify-content: center;
        text-transform: capitalize;
        font-weight: bold;
        &::after {
          content: "";
          width: 0px;
          height: 2px;
          background-color: gold;
          position: absolute;
          bottom: 25%;
          left: 25%;
          z-index: -1;
          transition: var(--transition);
          transform: skewX(0deg);
        }
        &.active,
        &:hover {
          &::after {
            width: 50%;
            animation: skew 0.4s 0.2s forwards;
            @keyframes skew {
              20% {
                transform: skewX(0deg);
              }
              100% {
                transform: skewX(60deg);
              }
            }
          }
        }
      }
      @media (max-width: 992px) {
        position: fixed;
        z-index: -1;
        right: -100%;
        bottom: 0px;
        width: 100%;
        height: 100vh;
        padding: 60px 0;
        flex-direction: column;
        justify-content: center;
        background-color: var(--secondColor);
        align-items: center;
        .navLink {
          text-align: center;
          justify-content: center;
          font-weight: normal;
        }
      }
      &.active {
        right: 0;
      }
    }
    .navBtn {
      margin: auto 0;
      position: relative;
      min-width: 24px;
      height: 24px;
      padding: 5px;
      cursor: pointer;
      transition: var(--transition);
      z-index: 2;
      span {
        position: absolute;
        right: 0;
        display: block;
        width: 24px;
        height: 2px;
        background-color: var(--whiteColor);
        margin: 4px 0;
        transition: var(--transition);
        &:first-child {
          top: 0;
        }
        &:nth-child(2) {
          width: 10px;
          top: 7px;
        }
        &:nth-child(3) {
          width: 16px;
          bottom: 0;
        }
      }
      &:not(.active):hover span:first-child {
        width: 16px;
      }
      &:not(.active):hover span:nth-child(2) {
        width: 20px;
      }
      &.active {
        span {
          &:first-child {
            transform: rotate(45deg);
            top: 8px;
            width: 20px;
          }
          &:nth-child(2) {
            width: 0;
            opacity: 0;
          }
          &:last-child {
            transform: rotate(-45deg);
            top: 8px;
            width: 20px;
          }
        }
      }
      @media (min-width: 992px) {
        display: none;
      }
    }
  }
}
.headerAnimate {
  box-shadow: var(--BigShadow);
  padding: 0px;
  background: var(--whiteColor);
  nav {
    .navMenu {
      @media (max-width: 992px) {
        background-color: var(--whiteColor);
      }
      .navLink {
        color: var(--darkColor);
      }
    }
    .navBtn {
      span {
        background-color: var(--secondColor);
      }
    }
  }
  .logo {
    img {
      height: 50px;
      filter: none;
      @media (max-width: 576px) {
        height: 40px;
      }
    }
  }
}
.mainSlider {
  position: relative;
  overflow: hidden;
  .mainSliderContainer {
    width: 100%;
    height: 100%;
    padding-bottom: 0px;
    .swiper-slide {
      position: relative;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      display: flex;
      align-items: center;
      height: 100vh;
      min-height: 500px;
      isolation: isolate;
      padding-left: 10vw;
      &::after {
        content: "";
        width: 100%;
        height: 100%;
        background: #670e3674;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: -1;
        transition: 0.3s ease-in-out;
      }
      .info {
        width: min(100% - 40px, 600px);
        display: flex;
        flex-direction: column;
        gap: 12px;
        .sliderTitle {
          color: #fff;
          font-weight: bold;
          font-size: 45px !important;
          @media (max-width: 768px) {
            font-size: 32px !important;
          }
        }
        .hint {
          color: #fff;
        }
        a {
          margin-top: 30px;
        }
      }
    }
  }
  .swiper-slide-active {
    .sliderTitle {
      animation: fadeInUp 1s 0.75s both;
    }
    .hint {
      animation: fadeInUp 1s 0s both;
    }
    a {
      animation: fadeInUp 1s 1.5s both;
    }
  }
  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translate3d(0, 100%, 0);
    }
    to {
      opacity: 1;
      transform: translateZ(0);
    }
  }
  .swiperControl {
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 20px;
    display: flex;
    gap: 24px;
    align-items: center;
    .swiperBtns {
      display: flex;
      gap: 8px;
      .swiper-button-next,
      .swiper-button-prev {
        position: relative;
        left: unset;
        right: unset;
        top: unset;
        bottom: unset;
        margin: unset;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--whiteColor);
        width: 40px;
        height: 40px;
        border: 1px solid var(--whiteColor);
        border-radius: 100%;
        transition: var(--transition);
        opacity: 0.8;
        &::after {
          font-size: 32px;
          font-family: "Font Awesome 6 Pro";
          font-weight: 200;
          @media (max-width: 768px) {
            font-size: 24px;
          }
        }
        &:hover {
          opacity: 1;
          background-color: white;
          color: var(--secondColor);
        }
      }
      .swiper-button-next {
        left: unset;
        &::after {
          content: "\f105" !important;
        }
      }
      .swiper-button-prev {
        &::after {
          content: "\f105" !important;
          transform: scaleX(-1);
        }
      }
    }
    .swiper-pagination {
      position: relative;
      left: unset;
      right: unset;
      top: unset;
      bottom: unset;
      margin: unset;
      display: flex;
      justify-content: center;
      align-items: center;
      .swiper-pagination-bullet {
        background-color: white;
        transition: var(--transition);
        border-radius: 16px;
        &.swiper-pagination-bullet-active {
          width: 16px;
          height: 16px;
        }
      }
    }
  }
}
.sectionTitle {
  text-transform: uppercase;
  color: var(--secondColor);
  margin-bottom: -8px;
  font-style: italic;
  font-weight: bold;
  position: relative;
  display: flex;
  align-items: center;
  gap: 24px;
  width: min(100% - 100px, 500px);
  &::after {
    content: "";
    flex: 1;
    height: 2px;
    display: flex;
    background-color: gold;
    transition: var(--transition);
    transform: skewX(60deg);
  }
}
.title {
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
  .hint {
    text-transform: uppercase;
    color: var(--secondColor);
    position: relative;
    width: fit-content;
    padding: 0px 40px;
    isolation: isolate;
    font-style: italic;
    font-weight: bold;
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      width: 100%;
      height: 2px;
      background-color: gold;
      transform: translateY(-50%);
      z-index: -2;
      transform: skewX(60deg);
    }
    &::after {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      width: calc(100% - 60px);
      height: 100%;
      background-color: white;
      transform: translate(-50%, -50%);
      z-index: -1;
    }
  }
  h1 {
    font-weight: bold;
    text-transform: capitalize;
  }
}
.aboutUS {
  padding: 60px 0;
  .aboutImg {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      border: 10px solid gold;
      width: 100%;
      height: 80%;
      transform: translateY(-50%);
    }
    .lazyDiv {
      width: min(100% - 40px);
      margin: auto;
    }
  }
  .info {
    display: flex;
    flex-direction: column;
    gap: 16px;
    h1 {
      font-weight: bold;
    }
    p {
      color: var(--grayColor);
      width: calc(100% - 24px);
    }
  }
  img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    max-height: 450px;
  }
}
.projects {
  padding: 60px 0;
  .seeMore {
    font-weight: bold;
    color: var(--secondColor);
    display: flex;
    gap: 8px;
    align-items: center;
    text-transform: capitalize;
  }
  .business {
    display: flex;
    flex-direction: column;
    color: var(--darkColor);
    background-color: var(--mainColor10);
    overflow: hidden;
    height: 100%;
    transition: 0.6s ease-in-out;
    .image {
      width: 100%;
      aspect-ratio: 1/1;
      overflow: hidden;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: #670e3610;
        z-index: 2;
        transition: 0.6s ease-in-out;
      }
      .lazyDiv {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: 0.6s ease-in-out;
        img {
          width: 100%;
          height: 100%;
        }
      }
      span {
        opacity: 0;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 3;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 4px;
        color: var(--whiteColor);
        font-weight: bold;
        transition: 0.6s ease-in-out;
        text-transform: capitalize;
        font-size: 12px;
        i {
          font-size: 40px;
        }
      }
    }
    .name {
      padding: 16px;
      font-weight: bold;
      display: flex;
      flex-direction: column;
      gap: 24px;
      flex: 1;
      h5 {
        font-weight: bold;
        // text-transform: uppercase;
        text-align: center;
        transition: 0.6s ease-in-out;
        @media (max-width: 768px) {
          font-size: 16px;
        }
      }
      .animatedLink {
        margin-top: auto;
      }
    }
    &:hover {
      background-color: var(--mainColor);
      .image {
        &::after {
          background-color: #670e3670;
        }
        .lazyDiv {
          transform: scale(1.2);
        }
        span {
          opacity: 1;
        }
      }
      .name h5 {
        color: var(--whiteColor);
      }
    }
  }
}
.banner {
  background: linear-gradient(#670e36f0, #670e36f8), url(../img/banner.svg);
  background-size: contain;
  background-repeat: repeat-x;
  // background-attachment: fixed;
  padding: 200px 0 50px;
  position: relative;
  display: flex;
  background-attachment: fixed;
  @media (max-width: 768px) {
    padding: 150px 0 30px;
  }
  .links {
    a {
      padding: 4px;
      position: relative;
      color: var(--whiteColor);
      display: inline-flex;
      align-items: center;
      gap: 12px;
      text-transform: capitalize;
      &:last-child {
        &::after {
          display: none;
        }
      }
      &::after {
        content: " ↣ ";
      }
      &.active {
        cursor: default;
        color: var(--lightGrayColor);
      }
    }
  }
  h1 {
    font-weight: bold;
    color: var(--whiteColor);
    text-transform: capitalize;
  }
}

.aboutPage {
  padding: 48px 0;

  .row {
    &:nth-child(2n) {
      flex-direction: row-reverse;
    }
  }
  .info {
    padding: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    gap: 16px;
    @media (max-width: 768px) {
      padding: 48px 16px;
    }
    .des {
      color: var(--darkColor);
    }
    ul {
      padding: 0;
      margin: 0;
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 4px;
      li {
        padding: 4px;
        position: relative;
        display: flex;
        align-items: center;
        gap: 8px;
        &::before {
          content: "\f336";
          font-family: "Font Awesome 6 Pro";
          color: var(--secondColor);
        }
      }
    }
  }
  .lazyImg {
    position: relative;
    height: 100%;
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      border: 10px solid gold;
      width: 100%;
      height: 90%;
      transform: translateY(-50%);
    }
    .lazyDiv {
      // width: min(100% - 40px);
      height: 100%;
      margin: auto;
      .simpleParallax {
        height: 100%;
      }
      img {
        width: 100%;
        aspect-ratio: 1/1;
        object-fit: cover;
        height: 85%;
      }
    }
  }
  .socialMedia {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    align-items: center;
    a {
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid var(--mainColor);
      color: var(--mainColor);
      border-radius: 100px;
      transition: var(--transition);
      box-shadow: 0px 4px var(--mainColor30);
      &:hover{
        background-color: var(--mainColor);
        color: var(--whiteColor);
        transform: translateY(4px);
        box-shadow: 0px 0px var(--mainColor30);

      }
    }
  }
  .statistic {
    padding: 24px 0;
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: flex-end;
    .counterUp {
      font-weight: bold;
      font-size: 100px;
      background: #e6644510;
      background-size: contain;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      -webkit-text-stroke: 1px #e66445;
      font-family: "Manrope Alt", Sans-serif;
      @media (max-width: 768px) {
        font-size: 70px;
      }
    }
    h6 {
      font-weight: bold;
      text-transform: uppercase;
      writing-mode: vertical-rl;
      max-height: 100px;
      text-align: center;
    }
  }
}
